*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  // outline: 1px solid #d00;
}

.container {
  max-width: 1200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 15px;
  margin: 0 auto;
}

.header {
  width: 100%;
  border-bottom: 1px solid #eee;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #fff;
  &__logo {
    width: 50px;
    height: 50px;
  }
}

.form__main {
  margin-top: 50px !important;
  max-width: 250px;
  width: 100%;
}

.user-btn {
  padding: 10px 20px;
}

.navigat__link {
  padding: 10px 20px;
  text-decoration: none;
  border: 1px solid rgb(22, 22, 178);
  border-radius: 8px;
  line-height: 100%;
  font-size: 17px;
  text-align: center;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }

  &:nth-child(1) {
    margin-right: 6px;
  }
  &:nth-child(2) {
    background-color: rgb(22, 22, 178);
    color: #fff;
  }
}

/* HTML: <div class="loader"></div> */
.loader__container {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid #514b82;
  animation: l20-1 0.8s infinite linear alternate, l20-2 1.6s infinite linear;
}
@keyframes l20-1 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
  }
  12.5% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 0%,
      100% 0%,
      100% 0%
    );
  }
  25% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      100% 100%,
      100% 100%
    );
  }
  50% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  62.5% {
    clip-path: polygon(
      50% 50%,
      100% 0,
      100% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  75% {
    clip-path: polygon(
      50% 50%,
      100% 100%,
      100% 100%,
      100% 100%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  100% {
    clip-path: polygon(
      50% 50%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      0% 100%
    );
  }
}
@keyframes l20-2 {
  0% {
    transform: scaleY(1) rotate(0deg);
  }
  49.99% {
    transform: scaleY(1) rotate(135deg);
  }
  50% {
    transform: scaleY(-1) rotate(0deg);
  }
  100% {
    transform: scaleY(-1) rotate(-135deg);
  }
}

@media screen and (max-width: 500px) {
  .header {
    .container {
      padding: 10px 8px;
    }
    &__logo {
      width: 42px;
      height: 42px;
    }
  }

  .navigat__link {
    padding: 8px 10px;
  }
  .user-btn {
    padding: 8px 10px;
  }
  .form__main {
    margin-top: 10% !important;
    max-width: none;
    width: 100%;
  }
  .home {
    .container {
      padding: 0;
    }
  }
  .card {
    border-radius: 0;

    svg {
      border-radius: 0;
    }
  }
}
